body {
    padding-top: 60px;
    font-size: 16px;
}
h1 small, .row small {
	color: #333;
}
h3.bigVal, h4.bigVal {
	margin: 2px 0;
}
.spacer-20 {
    margin-top: 20px;
}
.spacer-5 {
	margin-top: 5px;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
a {
	cursor: pointer;
}
.sectionBody {
	max-width: 500px;
	padding: 10px 0px 25px;
}
#previousGameBars {
	margin-top: 5px;
}
/*.newGameContainer select {
	font-size: 20px;
	width: 75%;
}*/
/*.newGameContainer div {
	padding: 0;
}*/
.mirrorImage {
    display:block;
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform: matrix(-1, 0, 0, 1, 0, 0);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.gameNumber {
	color: #999;
	font-size: 0.8em;
	line-height: 2.7em;
	padding: 0;
}
.scoreRow .btn-loser {
	color: #888;
	background: #f1f1f1;
}
.scoreRow .btn-group {
	width: 100%;
}
#vsLabel {
	background-image: url("../img/graphic_sm.png");
	background-repeat:no-repeat;
	background-position:center; 
	padding: 60px 0;
}
#selectPlayer1 img, #selectPlayer2 img {
	cursor: pointer;
	width:110px;
	height: auto;
}
/*#scoresSection {
	border-top: solid 1px #CCC;	
	margin-top: 20px;
	margin-bottom: 20px;
}*/
#playerSection {
	margin-bottom: 1.2em;
}
#playerSelectModal {
	-webkit-overflow-scrolling: touch;
}
#playerSelectModal .modal-body {
	padding: 0px;
}
#playerSelectModal .list-group-item {
	border: 0;
    padding-top: 7px;
    padding-bottom: 7px;
    cursor: pointer;
}
#playerSelectModal .list-group-item:hover {
    background: #f9f9f9;
}
#playerSelectModal .playerSelectAvatar {
    width: 28px;
    height: 28px;
    margin-right: 4px;
}
.headingAvatar {
    float: left;
    margin: 0 5px 0 0;
}
.roundAvatar {
    border-radius: 50%;
    box-shadow: 0 0 0 2px #555;
}
.avatarLink {
	cursor: pointer;
}
.avatarLink:hover {
	box-shadow: 0 0 0 2px #1C94C4;
}
.smallAvatar {
    height: 40px;
    width: 40px;
}
.mediumAvatar {
    height: 50px;
    width: 50px;
}
.largeAvatar {
    height: 60px;
    width: 60px;
}

#recentGames .roundAvatar {
    margin-bottom: 6px;
}
.recentWin, .recentLoss {
    color: #fff;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: inline-block;
    line-height: 22px;
}
.recentWin {
    background: green;
    text-shadow: 0 -1px 0 rgb(14, 53, 14);
}
.recentLoss {
    background: red;
    text-shadow: 0 -1px 0 rgb(97, 15, 0);
}
.vs {
    font-size: 26px;
    color: #ccc;
    text-shadow: 0 -1px 0 #9C9C9C;
    font-weight: normal;
    letter-spacing: 1px;
    font-style: italic;
}
/*.scoreRow select {
	font-size: 30px;
	width: 80px;
	margin: 10px 0 10px;
}*/
/*.scoreRow div {
	background-color: #F7F7F7;
}*/
/*.scoreRow .winningScore {
	background-color: #FFFF9E;
	background-image: url("../img/trophy_32.png");
	background-repeat:no-repeat;
	background-position:left; 
	background-position-x: 5%;
}
.scoreRow .losingScore {
	background-color: #EEE;
}*/
.scoreRow {
	margin: 0.2em 0;
}
.scoreRow *:focus {
    outline: 0;
}
#resultsSection {
	margin-bottom: 20px;
}
.rankUp, .rankDown {
	font-size: 2em;
}
span.rankDown {
	color: red;
}
span.rankUp {
	color: green;
}
span.rankNeutral {
	background-image: url("../img/neutral_arrow_48.png");
}
.dataTable td {
	padding: 2px 40px 2px 1px;
}
.dataTable.rowLinks tbody tr {
	cursor: pointer;
}
.dataTable.rowLinks tbody tr:hover {
	background: #f5f5f5;
}
#submitScore {
	margin: 15px 0;
}
.clickableRow:hover {
	background: #f5f5f5;
}
.clickableRow {
	cursor: pointer;
}
/*bootstrap modal fix*/
.modal-open, .modal-open .navbar-fixed-top {
	margin-right: auto !important;
}

.radius-left {
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
}
.radius-right {
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
}
.percentBarRow {
	line-height: 1.5em;
	margin-top: 5px;
	margin-bottom: 5px;
}
.percentBar {
    background: #FC9797;
    line-height: 1.5em;
    overflow: hidden;
    height: 1.5em;
}
.bar {
	position: absolute;
	overflow: hidden;
}
.bar span:before, .bar span:after {
	content: "\00a0";
}
.barBad {
	right: 0;
	text-align: right;
}
.barGood {
	background: #87DF87;
	left: 0;
	text-align: left;
}
.barInfo {
	text-align: center;
	margin-left: -50px;
}
.barInfo span {
	background: rgba(255, 255, 255, 0.7);
	position: absolute;
	width: 50px;
	height: 1.2em;
	line-height: 1.2em;
	margin-top: 0.1em;
}
.playedMeterWrap {
	background: #e2e2e2;
	width: 100%;
	border-radius: 4px;
	box-shadow: 0 0 8px 0px #bbb inset;
}
.playerGamesBar {
	background: #a0a0a0;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#aaa), to(#999));
	background-image: -webkit-linear-gradient(top, #aaa, #999);
	background-image: -moz-linear-gradient(top, #aaa, #999);
	background-image: -ms-linear-gradient(top, #aaa, #999);
	background-image: -o-linear-gradient(top, #aaa, #999);
	background-image: linear-gradient(to bottom, #AAA, #999);
	height: 1.5em;
	border-radius: 4px;
}
.gamesPlayedLabel {
	padding-left: 5px;
	text-shadow: 0 1px 0 #bbb;
	line-height: 1.5em;
}
.bad {
	color: red;
}
.good {
	color: green;
}
#rivlStatsOverflow {
	display: none;
    margin-top: -5px;
    width: 100%;
}

/* button overrides, so that last-entered score doesn't look different */
.btn-primary:focus {
  background-color: #428bca;
  border-color: #357ebd;
}