body {
    padding-top: 50px;
}
h1 small, .row small {
	color: #333;
}
h3.bigVal, h4.bigVal {
	margin: 2px 0;
}
.spacer-20 {
    margin-top: 20px;
}
.spacer-5 {
	margin-top: 5px;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.sectionBody {
	max-width: 500px;
	padding: 20px 0px;
}
.newGameContainer select {
	font-size: 20px;
	width: 75%;
}
.newGameContainer div {
	padding: 0;
}
#vsLabel {
	background-image: url("../img/graphic_sm.png");
	background-repeat:no-repeat;
	background-position:center; 
	padding: 60px 0;
}
#selectPlayer1 img, #selectPlayer2 img {
	cursor: pointer;

	width:110px;
	height: auto;
}
#scoresSection {
	border-top: solid 1px #CCC;	
	margin-top: 20px;
	margin-bottom: 20px;
}
#playerSelectModal {
	-webkit-overflow-scrolling: touch;
}
#playerSelectModal .modal-body {
	padding: 0px;
}
.scoreRow select {
	font-size: 30px;
	width: 80px;
	margin: 10px 0 10px;
}
.scoreRow div {
	background-color: #F7F7F7;
}
.scoreRow .winningScore {
	background-color: #FFFF9E;
	background-image: url("../img/trophy_32.png");
	background-repeat:no-repeat;
	background-position:left; 
	background-position-x: 5%;
}
.scoreRow .losingScore {
	background-color: #EEE;
}
#resultsSection {
	margin-bottom: 20px;
}
.rankUp, .rankDown {
	font-size: 2em;
}
span.rankDown {
	color: red;
}
span.rankUp {
	color: green;
}
span.rankNeutral {
	background-image: url("../img/neutral_arrow_48.png");
}
.dataTable td {
	padding: 2px 40px 2px 1px;
}
.dataTable.rowLinks tbody tr {
	cursor: pointer;
}
.dataTable.rowLinks tbody tr:hover {
	background: #f5f5f5;
}
#submitScore {
	margin: 15px 0;
}
#playerStats .row:hover {
	background: #f5f5f5;
}
#playerHistory tr:hover {
	background: #f5f5f5;
}
#playerStats .row {
	cursor: pointer;
}
#playerHistory tr {
	cursor: pointer;
}
/*bootstrap modal fix*/
.modal-open, .modal-open .navbar-fixed-top {
	margin-right: auto !important;
}

.radius-left {
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
}
.radius-right {
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
}
.percentBarRow {
	line-height: 2em;
	margin: 5px 0;
}
.percentBar {
    background: #FC9797;
    line-height: 2em;
    overflow: hidden;
    height: 2em;
}
.bar {
	position: absolute;
	overflow: hidden;
}
.bar span:before, .bar span:after {
	content: "\00a0";
}
.barBad {
	right: 0;
	text-align: right;
}
.barGood {
	background: #87DF87;
	left: 0;
	text-align: left;
}
.barInfo {
	text-align: center;
	margin-left: -50px;
}
.barInfo span {
	background: rgba(255, 255, 255, 0.7);
	position: absolute;
	width: 50px;
	height: 1.6em;
	line-height: 1.6em;
	margin-top: 0.2em;
}
.playerGamesBarWrap {
	position: relative;
}
.playedMeterWrap {
	background: #dddddd;
	width: 100%;
}
.playerGamesBar {
	background: #a0a0a0;
	height: 2em;
	z-index: 2;
}
.gamesPlayedLabel {
	z-index: 3;
	text-align: right;
	padding-left: 5px;
	text-shadow: 0 1px 0 #bbb;
}
.bad {
	color: red;
}
.good {
	color: green;
}