@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

/* START reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END reset */

/* generics */
.fl {
	float: left;
}
.fr {
	float: right;
}
.clearer {
	clear: both;
}
.center {
	text-align: center;
}

h1 {
	background: #666;
	color: #fff;
	text-shadow: 0 -1px 0 #222;
	text-align: center;
	font-size: 1.3em;
	padding: 10px 0;
	margin: 0 0 15px;
}
h2 {
	background: #B9F1F3;
	color: #444;
	text-align: center;
	font-size: 1.2em;
	padding: 5px 0;
	margin: 0 0 10px;
}
table {
	width: 100%;
}
thead {
	text-align: left;
	font-weight: bold;
	background: #444;
	color: #fff;
}

.button {
	cursor: pointer;
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: rgba(219,87,5,1);
    display: block;
    padding: 8px 15px;
    font-weight: bold;
    font-size: 1.3em;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 10px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 10px rgba(0,0,0,.7);
    box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 10px rgba(0,0,0,.7);
    margin: 25px;
    text-shadow: 0 -1px 0 #794308;
	text-align: center;
	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-o-transition: all .1s ease;
	transition: all .1s ease;
}

.button:active {
    -webkit-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 2px;
}


/* main styles */
html {
	font-family: 'Source Sans Pro', sans-serif;
	width: 450px;
	background: #444;
}
body {
	background: #fff;
}
#mainContainer {

}
.sectionBody {
	padding: 0 10px;
	overflow: hidden;
}

.halfSplit {
	width: 45%;
}

/* new game */
#newGame {

}
.playerHolder {
	border: 1px solid #666;
	border-radius: 4px;
	height: 120px;
	max-width: 300px;
	overflow-y: auto;
	margin-bottom: 15px;
}
.player {
	cursor: pointer;
	line-height: 25px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #ccc;
	background: #f9f9f9;
	padding: 0 0 0 5px;
}
.player:hover {
	background: #eee;
}
.playerHolder .selectedOption {
	font-weight: bold;
	background: #444;
	color: #fff
}
.score {
	font-size: 20px;
}



/*input.toggler {
	display:none;
}
input.toggler + label:hover {
	background: #fff;
}
input.toggler + label {
	display:inline-block;
	padding: 4px 12px;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 20px;
	color: #ccc;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255,255,255,0.75);
	vertical-align: middle;
	cursor: pointer;
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
	background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
	background-image: -o-linear-gradient(top,#fff,#e6e6e6);
	background-image: linear-gradient(to bottom,#fff,#e6e6e6);
	background-repeat: repeat-x;
	border: 1px solid #ccc;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	border-bottom-color: #b3b3b3;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}

input.toggler:checked + label {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
	background-color:#444;
	color: #fff;
	text-shadow: none;
}*/


/*.trophy {
	background: url(../../images/trophy.png) no-repeat top left transparent;
	width: 16px;
	height: 16px;
}*/


